<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

<bean id="b1" class="org.tanmoy.spring.Triangle" autowire="byName">
	<!--  <property name="name" value="equilateral"></property> -->
	
	 <constructor-arg value="Scalene"></constructor-arg>
	<constructor-arg value="20"></constructor-arg> 
</bean>

<bean id="p1" class="org.tanmoy.spring.Point">
	<property name="x" value="10"/>
	<property name="y" value="20"></property>
</bean>
<bean id="p2" class="org.tanmoy.spring.Point">
	<property name="x" value="0"/>
	<property name="y" value="0"></property>
</bean>
<bean id="p3" class="org.tanmoy.spring.Point">
	<property name="x" value="30"/>
	<property name="y" value="0"></property>
</bean>

</beans>